<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="panel panle-default">
  <div class="panel-body">
    <div class="show-pin">
      <div class="col-xs-2"><img src="<%= @pin.image.url(:thumb) %>" class="img-thumbnail pull-right"></div>
      <div class="col-md-4"><p><%= "#{@pin.text}" %></p></div>
    </div>
    <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
    </p>
    <div align="right">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <%= link_to "Edit Pin!", edit_pin_path(@pin), {class: "e_pin"} %>
    </div>
  </div>
</div>
<br/>
<a href="/">
  <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
  Back to Home
</a>
