<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="panel panle-default">
  <div class="panel-body">
    <div class="show-pin">
      <div class="col-xs-2"><img src="<%= @pin.image.url(:thumb) %>" class="img-thumbnail pull-right"></div>
      <div class="col-md-4"><p><%= "#{@pin.text}" %></p></div>
    </div>
    <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <%= link_to "#{@pin.url}",  "#{@pin.url}", html_options = {target: "_blank", class: "url"} %>
    </a>
    </p>
    <div align="right">
        <%= link_to repin_path(@pin), class: "e_pin", method: "post" do %>
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        Repin!
        <% end %>
        
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <%= link_to "Edit Pins!", edit_pin_path(@pin), class: "e_pin" %>

    </div>
  </div>
</div>

<br/>
    <%= render partial: "shared/repin_form", locals: {pin: @pin} %>
  <br/>
 <hr/>
 
 <h4>This pin has been repinned by:</h4>
    <% if @users %>
  <% @users.each do |user| %>
    <h5><%= user.first_name %> <%= user.last_name %></h5>
  <% end %>
<% else %>
  <h5> No one clicked the repin button! </h5>
<% end %>
<br/>
<hr/> 

<a href="/">
  <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
  Back to Home
</a>
