<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
</div>

<div class="panel panle-default">
  <div class="panel-body">
    <div class="show-pin">
      <div class="col-xs-2"><img src="<%= @pin.image.url(:thumb) %>" class="img-thumbnail pull-right"></div>
      <div class="col-md-4"><p><%= "#{@pin.text}" %></p></div>
    </div>
    <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <a class="url" href="<%= "#{@pin.url}" %>" target="_blank">
      <%= "#{@pin.url}" %>
    </a>
    </p>
    <div align="right">
        <%= link_to repin_path(@pin), class: "e_pin", method: "post" do %>
        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
        Repin!
        <% end %>
        
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <%= link_to "Edit Pins!", edit_pin_path(@pin), class: "e_pin" %>

    </div>
  </div>
</div>

  <h3>This pin has been repinned by:</h3>
  <% @user.each_slice(3) do |row| %> 
    <div class="row">
      <% row.each do |user|  %> 
      <div>
      <%= "#{user.first_name} #{user.last_name}" %>
      </div>
      <% end %>
    </div>
  <% end %> 
</div>
<div class="row">
  <%= render partial: "shared/repin_form", locals: {pin: @pin} %>
</div>
<br/>
<a href="/">
  <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
  Back to Home
</a>
