<div class = "header">
  <h2> <%= "#{@user.first_name}'s Info and Pins!" %></h2>
</div>
<hr/>

<p id="notice"><%= notice %></p>

<div class = "panel panel-default">
  <div class = "panel-body">
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password_digest %>
</p>
  </div>
</div>

<hr/>
  <%= render partial: "shared/pins_list" %>
<hr/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Create a New Pin!', new_pin_path %>
<hr>